In [10]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(model="gpt-4o-mini", temperature=0.1)
db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
agent = create_sql_agent(
    toolkit=toolkit,
    llm=llm,
    verbose=True,
    handle_parsing_errors=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

agent.invoke("Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors alseo include their gross revenue.")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  directors, moviesI need to check the schema of the "directors" and "movies" tables to understand their structure and the relevant columns I can use for my query.
Action: sql_db_schema
Action Input: "directors,movies"
CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/To find the movies with the highest votes but the lowest budgets, along with their directors and gross revenue, I will need to join the `movies` table with the `directors` table on the `director_id`. I will then order the results by `vote_count` in descending order and filter for the lowest budgets.

First, I will construct the query to select the relevant columns: movie title, budget, revenue, and director name.

The query will look something like this:
```sql
SELECT movies.title, movies.budget, movies.revenue, directors.name
FROM movies
JOIN directors ON movies.director_id = directors.id
ORDER BY movies.vote_count DESC, movies.budget ASC
LIMIT 10;
```

Now, I will check if this query is correct before executing it.
Action: sql_db_query_checker
Action Input: "SELECT movies.title, movies.budget, movies.revenue, directors.name FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY movies.vote_count DESC, movies.budget ASC LIMIT 10;"  ```sql
SELECT movies.title, movies.budget, movies.revenue, directors.name
FROM movies
JOIN directors ON movies.director_id = directors.id
ORDER BY movies.vote_count DESC, movies.budget ASC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the results.
Action: sql_db_query
Action Input: "SELECT movies.title, movies.budget, movies.revenue, directors.name FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY movies.vote_count DESC, movies.budget ASC LIMIT 10;"  [('Inception', 160000000, 825532764, 'Christopher Nolan'), ('The Dark Knight', 185000000, 1004558444, 'Christopher Nolan'), ('Avatar', 237000000, 2787965087, 'James Cameron'), ('The Avengers', 220000000, 1519557910, 'Joss Whedon'), ('Deadpool', 58000000, 783112979, 'Tim Miller'), ('Interstellar', 165000000, 675120017, 'Christopher Nolan'), ('Django Unchained', 100000000, 425368238, 'Quentin Tarantino'), ('Guardians of the Galaxy', 170000000, 773328629, 'James Gunn'), ('The Hunger Games', 75000000, 691210692, 'Gary Ross'), ('Mad Max: Fury Road', 150000000, 378858340, 'George Miller')]I now know the final answer.

Final Answer: The movies with the highest votes but the lowest budgets, along with their directors and gross revenue, are as follows:

1. **Inception** - Budget: $160,000,000, Revenue: $825,532,764, Director: Christopher Nolan
2. **The Dark Knight** - Budget: $185,000,000, Revenue: $1,004,558,444, Director: Christopher Nolan
3. **Avatar** - Budget: $237,000,000, Revenue: $2,787,965,087, Director: James Cameron
4. **The Avengers** - Budget: $220,000,000, Revenue: $1,519,557,910, Director: Joss Whedon
5. **Deadpool** - Budget: $58,000,000, Revenue: $783,112,979, Director: Tim Miller
6. **Interstellar** - Budget: $165,000,000, Revenue: $675,120,017, Director: Christopher Nolan
7. **Django Unchained** - Budget: $100,000,000, Revenue: $425,368,238, Director: Quentin Tarantino
8. **Guardians of the Galaxy** - Budget: $170,000,000, Revenue: $773,328,629, Director: James Gunn
9. **The Hunger Games** - Budget: $75,000,000, Revenue: $691,210,692, Director: Gary Ross
10. **Mad Max: Fury Road** - Budget: $150,000,000, Revenue: $378,858,340, Director: George Miller

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors alseo include their gross revenue.',
 'output': 'The movies with the highest votes but the lowest budgets, along with their directors and gross revenue, are as follows:\n\n1. **Inception** - Budget: $160,000,000, Revenue: $825,532,764, Director: Christopher Nolan\n2. **The Dark Knight** - Budget: $185,000,000, Revenue: $1,004,558,444, Director: Christopher Nolan\n3. **Avatar** - Budget: $237,000,000, Revenue: $2,787,965,087, Director: James Cameron\n4. **The Avengers** - Budget: $220,000,000, Revenue: $1,519,557,910, Director: Joss Whedon\n5. **Deadpool** - Budget: $58,000,000, Revenue: $783,112,979, Director: Tim Miller\n6. **Interstellar** - Budget: $165,000,000, Revenue: $675,120,017, Director: Christopher Nolan\n7. **Django Unchained** - Budget: $100,000,000, Revenue: $425,368,238, Director: Quentin Tarantino\n8. **Guardians of the Galaxy** - Budget: $170,000,000, Revenue: $773,328,629, Director: James Gunn\n9. **The Hunger Games** - Budget: $75,000,000, Revenue: $691,210,692, Director: Gary Ross\n10. **Mad Max: Fury Road** - Budget: $150,000,000, Revenue: $378,858,340, Director: George Miller'}